$primary-light: rgb(255, 255, 255);

$secondary-light: rgb(241, 218, 197);

$tertiary-light: rgb(238, 158, 84);

$quaternary-light: rgb(97, 39, 14);

$succes: rgb(69, 171, 91);

$warning: rgb(255, 208, 54);

$danger: rgb(207, 61, 61);

$medium: rgb(74, 74, 74);

$light: rgb(168, 168, 168);
