@use "../../../styles/sass/abstracts/mixins";
@use "../../../styles/sass/abstracts/colors";
@use "../../../styles/sass/abstracts/variables";
@use "../../../styles/sass/base/typography";
.form {
  &-light-theme {
    @include mixins.color-theme-and-basic-props-for-forms(
      $bg: colors.$secondary-light,
      $title: colors.$quaternary-light,
      $inputfield-value: colors.$quaternary-light,
      $inputfield-placeholder-value: colors.$light,
      $inputfield-bg: colors.$primary-light,
      $button-text: colors.$primary-light,
      $button-bg: colors.$tertiary-light
    );
  }
  &-new-dish-variant {
    &__container {
      display: grid;

      grid-template-rows:
        [r-0] variables.$row-size-sm
        [r-1] variables.$row-size-sm
        [r-2] variables.$row-size-md
        [r-3] variables.$row-size-sm
        [r-4] variables.$row-size-md
        [r-5] variables.$row-size-sm
        [r-6] variables.$row-size-md
        [r-7] variables.$row-size-sm
        [r-8] variables.$row-size-sm
        [r-9] variables.$row-size-sm
        [r-10];

      grid-template-columns:
        [c-1] variables.$column-size
        [c-2] variables.$column-size
        [c-3] variables.$column-size
        [c-4] variables.$column-size
        [c-5] variables.$column-size
        [c-6] variables.$column-size
        [c-7] variables.$column-size
        [c-8] variables.$column-size
        [c-9] variables.$column-size
        [c-10] variables.$column-size
        [c-11] variables.$column-size
        [c-12];
      row-gap: 0.8rem;

      font-weight: typography.$font-weight-normal;
      width: 27rem;
      justify-content: center;

      border-radius: 5rem;
      margin: 2rem;

      & label {
        justify-self: center;
        align-self: center;
      }
      & input,
      select,
      button {
        text-align: center;
        justify-self: center;
      }
      & input[type="text"],
      button {
        width: 80%;
      }
    }
    &__image-of-form {
      &__bg {
        border-radius: 5rem 5rem 0 0;
        overflow: hidden;
        position: relative;
        grid-row: r-0 / r-1;
        grid-column: c-2 / c-11;
        width: 100%;

        aspect-ratio: 2.1;
      }
      &__text {
        grid-row: r-0 / r-1;
        grid-column: c-2 / c-11;
        z-index: 100;
        font-size: typography.$font-size-lg;
        align-self: center;
        text-align: center;
      }
    }
    &__input-field {
      &__dish-name {
        &__title {
          grid-row: r-1 / r-2;
          grid-column: c-2 / c-11;
        }
        &__value {
          grid-row: r-2 / r-3;
          grid-column: c-2 / c-11;
        }
      }
      &__prep-time {
        &__container {
          //protip - jak masz podgrid w gridzie, zamiast dzielic 1 grid na 12 coliumn, wez zrob2 gridy. more flexible and more control

          grid-row: r-4 / r-5;
          grid-column: c-2 / c-11;

          display: grid;
          grid-auto-flow: column;

          justify-items: center;
          text-align: center;

          padding: 0 4rem 0 4rem;
        }
        &__title {
          grid-row: r-3 / r-4;
          grid-column: c-2 / c-11;
        }
        &__value {
          @mixin timeContainersWidth {
            width: 5rem;
          }
          @mixin dotsContainerWidth {
            width: 1rem;
          }
          &__hh {
            @include timeContainersWidth;
          }
          &__dots-left {
            @include dotsContainerWidth;
          }
          &__mm {
            @include timeContainersWidth;
          }
          &__dots-right {
            @include dotsContainerWidth;
          }
          &__ss {
            @include timeContainersWidth;
          }
        }
      }
      &__dish-type {
        &__title {
          grid-row: r-5 / r-6;
          grid-column: c-2 / c-11;
        }
        &__value {
          grid-row: r-6 / r-7;
          grid-column: c-2 / c-11;
          width: 12rem;
        }
      }
    }
    &__conditionally-rendered-input-fields {
      // Creating a second grid for placing conditional content was neccessary,
      // because the conditional JSX are wrapped with an additional <div>, which
      // breaks the relation with the grid from "form-new-dish-variant__container"
      grid-row: r-7 / r-8;
      grid-column: c-2 / c-11;
      display: grid;
      grid-template-rows:
        [r-1] variables.$row-size-sm
        [r-2] variables.$row-size-md
        [r-3];
      grid-template-columns:
        [c-1] 1fr
        [c-2] 1fr
        [c-3];
      column-gap: 2rem;
      row-gap: 0.8rem;
      align-self: center;
      padding: 0rem 3rem 1rem 3rem;

      @mixin widthOfConditionalInputFields {
        width: 8rem;
      }
      &__nr-of-slices {
        &__title {
          grid-row: r-1 / r-2;
          grid-column: c-1 / c-2;
        }
        &__value {
          grid-row: r-2 / r-3;
          grid-column: c-1 / c-2;
          @include widthOfConditionalInputFields;
        }
      }
      &__diameter {
        &__title {
          grid-row: r-1 / r-2;
          grid-column: c-2 / c-3;
        }
        &__value {
          grid-row: r-2 / r-3;
          grid-column: c-2 / c-3;
          @include widthOfConditionalInputFields;
        }
      }
      &__spiciness-scale {
        &__title {
          grid-row: r-1 / r-2;
          grid-column: c-1 / c-3;
        }
        &__value {
          grid-row: r-2 / r-3;
          grid-column: c-1 / c-3;
          @include widthOfConditionalInputFields;
        }
      }
      &__nr-of-slices-of-bread {
        &__title {
          grid-row: r-1 / r-2;
          grid-column: c-1 / c-3;
        }
        &__value {
          grid-row: r-2 / r-3;
          grid-column: c-1 / c-3;
          @include widthOfConditionalInputFields;
        }
      }
    }
    &__submit-btn {
      grid-row: r-8 / r-9;
      grid-column: c-6 / c-11;
      height: 4rem;
      aspect-ratio: 3;
      align-self: center;
      // margin: 0 0 2rem 0;
    }
    &__image-of-dish-type {
      &__png {
        position: relative;
        grid-row: r-8 / r-9;
        grid-column: c-2 / c-6;
        height: 8rem;
        justify-self: center;

        aspect-ratio: 1;
      }
      &__diameter {
        grid-row: r-8 / r-9;
        grid-column: c-2 / c-6;
        z-index: 100;
        font-size: typography.$font-size-sm;
        line-height: typography.$line-height-sm;
        padding: 18% 0 0 30%;
      }
    }
  }
}
