// Font families
$font-family-primary: "Gill Sans", "Gill Sans MT", "Calibri", sans-serif;

//Font sizes
$font-size-sm: 1.25rem;
$font-size-md: 1.65rem;
$font-size-lg: 2rem;

//Font weights
$font-weight-normal: 300;
$font-weight-bold: 600;

// Line heights
$line-height-sm: 1.5;
$line-height-md: 2;

// Letter spacings
$letter-spacing-sm: 0.05em;
$letter-spacing-md: 0.1em;
